<div class="container education-container">
  <h3>{{ site.education_title | default: "Education" }}</h3>
  {% for education in site.data.education %}
    <div class="row clearfix education">
      <div class="col-xs-12 col-sm-6 col-md-5 col-print-12 left-column"> <!--- normally ends with left-column -->
				<img src="{{ education.image }}" width="100" style="float:left">
        <h4>{{ education.name }}</h4>
        <p><b>{{ education.qualification }}</b></p>
        <p>{{ education.dates }}</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-7 col-print-12">
        {%- if education.quote -%}
          <p class="quote">{{ education.quote }}</p>
        {%- endif -%}
        {{ education.description | strip | markdownify }}
      </div>
    </div>
  {% endfor %}
</div>
