<div>
    <h3>Photography</h3>
    <div class="row clearfix">
        <div class="slider-wrapper">
            <div id="slider">
                {% for i in (1..16) %}
                <div class="slider-container">
                    <img class="slider-img" src="/assets/images/sliders/{{ i }}.jpg" alt="Image {{ i }}">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        // This code clones the first two images to create a continuous effect
        var slider = document.getElementById('slider');
        var firstChild = slider.children[0].cloneNode(true);
        var secondChild = slider.children[1].cloneNode(true);
        slider.appendChild(firstChild);
        slider.appendChild(secondChild);
    </script>
</div>
