<div>
    <h3>Photography</h3>
    <div class="row clearfix">
      <div id="slider">
          <div class="slider-container">
              <img class="slider-img" src="garage_sqr_zoom.png" alt="Image 1">
          </div>
          <div class="slider-container">
              <img class="slider-img" src="selfie-square.JPG" alt="Image 2">
          </div>
          <div class="slider-container">
              <img class="slider-img" src="wineguy_square.jpg" alt="Image 3">
          </div>
      </div>
    </div>

<!--    <script>-->
<!--        // This code clones the first two images to create a continuous effect-->
<!--        var slider = document.getElementById('slider');-->
<!--        var firstChild = slider.children[0].cloneNode(true);-->
<!--        var secondChild = slider.children[1].cloneNode(true);-->
<!--        slider.appendChild(firstChild);-->
<!--        slider.appendChild(secondChild);-->
<!--    </script>-->
</div>
