// CSS file for my blog posts
// The theme has the same font etc. as the rest of the site
// I want like a light cream color for the background and the text
// to be a dark like midnight blue
// @import "base";
// @import "button";
// @import "type";

.blog {
    background-color: #F9F1E7;
    color: #001f3f;
}

.post {
    background-color: #F9F1E7;
    color: #001f3f;

    text-align: center;
}

.post-home {
}

.post-title {
    text-align: center;
}

.post-date {
    text-align: center;
}

.post-content {
    text-align: center;
}

.post-footer {
    text-align: center;
}