
img,
picture {
  margin: 0;
  max-width: 100%; }

#slider {
  position: absolute;
  width: 9300px; /* We have 16 unique images, but 31 in our series since 15 are duplicated, 31 * 300 px */
  animation: slide 160s linear infinite; }

.slider-wrapper {
  height: 220px;
  margin-top: 40px;
  overflow: hidden;
  position: relative; }

.slider-container {
  float: left;
  height: 100%;
  width: 300px;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black; }

.slider-img {
  object-fit: cover;
  width: 300px;
  height: 200px; }

@keyframes slide {
    0% { left: 0; }
    100% { left: -4800px; } /* after 16 * 300 px pass */ }
